div{
 padding: 20px 10px ;
 border: 2px solid purple;
 background-color:pink; 
 }
.cajita{
	background-color: pink;
	padding: 20px 20px 50px 50px ;
	text-align: center;	
}
p{
	border: 1px dashed green;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}